{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}