{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"type": "chore", "scope":"deps", "release": "patch"}
      ]
    }],
    ["@semantic-release/release-notes-generator", {
      "writerOpts": {
        "headerPartial": ""
      }
    }],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
